.guide {
    margin-top: 119px;
    height: 585px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-content {
    width: 685px;
    height: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guide-content__top {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    hr {
        width: 41px;
        height: 4px;
        background: #000339;
        border-radius: 12px;
    }
    .header {
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
        color: #000339;
        text-align: center;
    }
    .subtitle {
        width: 459px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #5a6473;
    }
}

.guide-content__center {
    display: flex;
    justify-content: space-between;
}

.buyer,
.renter,
.seller {
    width: 133px;
    height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .buyer-text,
    .renter-text,
    .seller-text {
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #3b3c45;
    }
    a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #0689ff;
        svg {
            margin-left: 8px;
        }
    }
}

.seller-coin {
    position: absolute;
    margin-top: 22px;
    margin-left: 16px;
}

.guide-content__bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    .guide-btn {
        width: 170px;
        height: 50px;
    }
}