a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

hr {
    height: 0;
    width: 100%;
    border: 0px;
}

.container {
    padding: 0 165px 0 165px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f1b4c;
    border-radius: 8px;
    transition: 0.7s;
    a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
    }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.7s;
    }
}
